<mat-form-field appearance="outline" class="search-field" color="primary">
    <input #input matInput placeholder="Введите название песни" spellcheck="false" [formControl]="myControl"
           [matAutocomplete]="auto" matAutocompletePosition="below">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" (optionActivated)="onOptionActivated($event)"
                      (optionSelected)="onOptionSelected($event)">
        <!-- global styles -->
        <mat-option class="options" *ngFor="let option of filteredOptions$ | async" [value]="option">
            <span class="artist" [innerHTML]="option.artist | highlight:toHighlight "></span>
            <span [innerHTML]="option.name | highlight:toHighlight"></span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>