@import "@angular/material";

$blue: get-color-from-palette($blue-palette, 600);

:host {
    width: min(100%, 600px);

    ::ng-deep {
        mat-autocomplete {
            border-radius: 2px;
        }
    }
}

.search-field {
    width: 100%;
}
//
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
