@import "@angular/material";
@import "../../mixins.scss";

$blue: get-color-from-palette($blue-palette, 700);

:host {
    flex: 1;
    padding: 10px 10px 0;
}

.tools {
    position: sticky;
    top: 0;
}

// search
.search-field {
    width: min(100%, 300px);

    ::ng-deep {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }
}

.words-table {
    width: 100%;

    .word-cell {
        .foreign,
        .translates {
            font-size: 17px;
        }

        .foreign {
            font-weight: bold;
        }
    }

    .word-level-cell {
        font-weight: bold;
    }
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}
