@import "@angular/material";

$green: get-color-from-palette($green-palette, 100);
$red: get-color-from-palette($red-palette, 100);

:host {
    width: 100%;
    padding: 0 10px;
}

// .words-list {
//     width: 100%;

//     ::ng-deep {
//         .mat-chip-list-wrapper {
//             min-height: 40px;
//         }
//     }
// }

.translates-form-field {
    width: 100%;

    ::ng-deep {
        .mat-form-field-wrapper {
            padding: 0;
        }

        .mat-form-field-infix {
            border: 0;
        }
    }
}

// actions
.actions {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.progress-spinner {
    margin: 10px;
}
